body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p {
  color: #8f8f8f;
}

/* Containers */

.container-fluid {
  /* padding: 3% 15% 12%; */
  padding: 7% 15%;
}

/* Sections */

.color-section {
  background-color: #f999b7;
  color: white;
}

.white-section {
  background-color: white;
}

/* Headings */

.big-heading {
  font-weight: 900;
  line-height: 1.5;
  font-size: 3rem;
  padding-top: 4rem;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Navbar */

.navbar {
  padding: 0 0 5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
  color: rgb(204, 216, 226) !important;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% auto auto;
}

/* Title */

.title-image {
  /* width: 60%; */
  /* margin-left: 80px; */
  position: absolute;
  right: 300px;
  /* padding-left 会让图片变小？？ */
  transform: rotate(15deg);
}

#title .container-fluid {
  padding: 3% 15% 12%;
  text-align: left;
  background-color: #f2789f;
}

/* feature section */
#features {
  /* make it above the title image, the default z-index is 0 > -1*/
  position: relative;
  /* z-index: 1; */
}

.feature-title {
  font-size: 1.7rem;
}

.feature-box {
  padding: 5%;
}

#features p {
  font-size: 1.1rem;
}

.icon {
  color: #f999b7;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #f2789f;
}

/* Testimonials */

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 50%;
  width: 12%;
  margin: 20px;
}

/* Press section */
#press {
  padding-bottom: 7%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
  /* padding: 20px 20px 15px; */
}

/* Pricing Section */

#pricing {
  padding: 7% 15%;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 5% 3%;
}

/* call to action */

#cta {
  padding: 8% 15% 11%;
}

.cta-heading {
  color: whitesmoke;
}

/* Footer Section */

/* Reactor all the padding: 7% 15% */

/* #footer {
  padding: 7% 15%;
} */

.footer-icon {
  /* padding: 10px 20px 40px; */
  margin: 10px 20px 40px;
  color: black;
}

.footer-icon:hover {
  opacity: 0.6;
}

@media (max-width: 1028px) {
  .navbar {
    padding: 0 0 2rem;
  }

  #title .container-fluid {
    text-align: center;
  }

  .nav-item {
    text-align: right;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 50%;
    padding: 10% 0 0;
  }

  .testimonial-text {
    font-size: 2rem;
    line-height: 1.3;
  }

  .section-heading {
    font-size: 2rem;
    line-height: 1.5;
  }

  #title .container-fluid {
    padding: 0 10% 12%;
  }

  .container-fluid {
    padding: 5% 10%;
  }
}
