#title {
  background-color: #ff4c68;
  color: white;
}

body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
  font-size: 3rem;
  padding-top: 4rem;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

/* Naviga */

.navbar {
  padding: 0 0 5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
  color: rgb(204, 216, 226) !important;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% auto auto;
}

/* Title image */

.title-image {
  width: 60%;
  margin-left: 80px;
  /* padding-left 会让图片变小？？ */
  /* transform: rotate(25deg); */
}

/* feature section */
#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.container-fluid {
  padding: 3% 15%;
}
